@charset "UTF-8";

/* 
O que em HTML é id = # em CSS (O ID é unico)
O que em HTML é class = . em CSS (CLASS pode ser multiplos)
*/

body {
    background-color: rgb(104, 240, 160);
    font: normal 16px Arial, Verdana, Serif;
}

h1 {
    color: rgb(0, 92, 38);
}

h1#main { 
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(0, 92, 38);
}

h2 {
    color: rgb(0, 121, 50);
}

h2.basico {
    color: rgb(0, 121, 50);
    font-weight: bold;
}

h2.intermediario {
    color: rgb(214, 200, 0);
}

h2.avancado {
    color: rgb(121, 0, 0);
}

.destaque {
    background-color: rgba(255, 255, 0, 0.295);
}