@charset "UTF-8";

@media screen and (min-width: 768px) {
    i#burguer {
        display: none;
    }
    
    menu {
        display: block;
    }

    menu > ul > li {
        display: inline-block; /*Serve para deixar os itens do menu au ao lado do outro*/
    }

    main {
        width: 768px;
    }
}